@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
body {
	margin: 0;
	background-image: url('./../img/bg.jpg');
	background-repeat: no-repeat;
  	background-attachment: fixed;
  	background-position: center;
} 

/* HEADER */

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 70px;
    background-color: #ffb202;
    font-family: 'Montserrat', sans-serif;
}
.logo{
    width: 50px;
    height: 50px;
    fill: white;
}
.navbar{
    list-style: none;
}
.navbar li{
    display: inline-block;
    padding: 0em 4em;
}
.navbar a{
    text-decoration: none;
    color: white;
    font-size: 1.1em;
}
.navbar svg{
    fill: white;
    width: 20px;
    height: 14px;
}

/* Footer */

footer{
    background: #9bc8de;
    font-family: 'Montserrat', sans-serif;
    color: white;
}
footer p{
    margin: 0.1em 5em;
    font-size: 0.7em;
}
footer svg{
    margin: 3em 5em 0 0;
}
.footer-items{
    display: flex;
    justify-content: center;
    margin-right: 0em;
}
.share-logos{
    margin: 2em 0em;
}
.share-logos .fa{
    margin: 0em 1em;
    font-size: 2em;
    color: white;
}
.share-logos p{
    display: flex;
    justify-content: center;
    padding: 1em 0 0 0;
}
